/* default: light mode */
:root {
	--background: hsl(220, 10%, 95%);

	--text-primary: hsl(220, 10%, 10%);
	--text-primary-50: hsl(220, 10%, 10%, 50%);

	--accent: hsl(0, 70%, 70%);
	--accent-secondary: hsl(0, 70%, 50%);

	--accent2: hsl(210, 70%, 70%);
	--accent2-secondary: hsl(210, 50%, 50%);

	--background-filter: invert(99%) sepia(1%) saturate(297%) hue-rotate(180deg) brightness(99%) contrast(94%);
	--text-primary-filter: invert(6%) sepia(10%) saturate(781%) hue-rotate(176deg) brightness(99%) contrast(93%);
	--accent-filter: invert(64%) sepia(42%) saturate(873%) hue-rotate(311deg) brightness(98%) contrast(86%);

	--accent-1: 0;
	--accent-2: 70%;
	--accent-3: 70%;

	--accent2-1: 210;
	--accent2-2: 70%;
	--accent2-3: 70%;

	--logo-color: hsl(220, 10%, 95%);
	--logo-background: hsl(0, 70%, 50%);
	--logo-border: hsl(0, 70%, 50%);
}

/* dark mode toggle */
.darkmode {
	--background: hsl(220, 10%, 15%);

	--text-primary: hsl(220, 10%, 90%);
	--text-primary-50: hsl(220, 10%, 90%, 50%);

	--accent: hsl(0, 50%, 50%);
	--accent-secondary: hsl(0, 50%, 70%);

	--accent2: hsl(210, 50%, 50%);
	--accent2-secondary: hsl(210, 70%, 70%);

	--background-filter: invert(10%) sepia(4%) saturate(2590%) hue-rotate(179deg) brightness(95%) contrast(87%);
	--text-primary-filter: invert(99%) sepia(4%) saturate(754%) hue-rotate(177deg) brightness(95%) contrast(91%);
	--accent-filter: invert(30%) sepia(67%) saturate(1378%) hue-rotate(328deg) brightness(90%) contrast(90%);

	--accent-1: 0;
	--accent-2: 50%;
	--accent-3: 50%;

	--accent2-1: 210;
	--accent2-2: 50%;
	--accent2-3: 50%;

	--logo-border: hsl(220, 10%, 95%);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: var(--text-primary);
	border-radius: 0;
}

::-webkit-scrollbar-button {
	display: none;
}

body {
	background-color: var(--background);
	--fonts: "Work Sans", sans-serif;
	color: var(--text-primary);
	font-family: var(--fonts);
	padding: 64px;
	font-size: 1.25rem;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h1 {
	margin-top: 0;
	font-size: 2rem;
}

input,
button {
	font-family: inherit;
}

.primary50 {
	color: var(--text-primary-50);
}

.normal-weight {
	font-weight: normal;
}

.footer-section {
	opacity: 0.5;
	font-size: 1rem;
	margin-top: 32px;
}

.footer-section > hr {
	border: 1px solid var(--text-primary);
	margin-bottom: 8px;
}

.footer-text {
	position: relative;
}

.footer-links {
	position: absolute;
	top: 0;
	left: 0;
}

.footer-copyright {
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (max-width: 600px) {
	.footer-links {
		top: 1.25em;
	}

	.footer-copyright {
		left: 0;
	}
}

a[href],
.link {
	text-decoration: none;
	cursor: pointer;
}

a[href]:not(.logo-div),
.link {
	transition: color 0.2s ease;
	color: var(--accent);
}

a[href]:not(.logo-div):hover,
.link:hover {
	color: var(--accent-secondary);
}
