/* borrowed from: https://codepen.io/tashfene/pen/raEqrJ and https://redstapler.co/add-loading-animation-to-website/ */

.loader-wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: hsl(220, 10%, 10%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 255;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid hsl(220, 10%, 95%);
	animation: loader 2s infinite ease;
	border-radius: 10%;
	overflow: hidden;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: hsl(220, 10%, 95%);
	animation: loader-inner 2s infinite ease-in;
}

// make .load-wait-text fade in 5 seconds after page load using @keyframes

.load-wait-text {
	opacity: 0;
	animation: fade-in 5s forwards;
	position: absolute;
	top: calc(50% + 50px);
	max-width: 500px;
	padding: 0 80px;
	text-align: center;
	line-height: 1.5;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}
